*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .container{
    width: 400px;
    background-color: #06315a;
    margin: auto;
    border-radius: 10px 10px 0 0;

 }
.top-screen{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
    color: #ffff;
    text-align: right;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}
.butons-for-all{
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.btn{
    padding: 10px;
    font-size: 1.5rem;
    border: 0.2px solid #FDF0F0;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: transparent;
}

.btn:hover{
    /* background-color: rgb(144, 144, 144); */
    background-color: aqua;
}
.btn-operator, .btn-oprite, .btn-oprito {
    background-color: rgb(75, 75, 221);
    color: tomato;
}
.equal{
    grid-row: 4/6;
    grid-column: 4;
}
.zero{
    grid-column: span 2;
}
@media screen and (max-width: 900px) {

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        height:auto;
        /* background-color: red; */
    }

    .container{
        width: 100%;
        border-radius: none;
        /* background-color: #667079; */
                
        margin: 0;
        height: 679.5px;
        border-radius:  0;
        
     }
     .butons-for-all{
        /* background-color: blue; */
        height: 85%;
        color: tomato;

     }
     .top-screen{
        /* background-color: transparent; */
        background-color: red;
        width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    font-size: 2rem;
    text-align: right;
    border-radius: 0;
    padding-top: 10px;
     }



   
   
}
@media screen and (width: 896) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        height: 100vh;
        /* background-color: red; */
    }

    .container{
        width: 400px;
        border-radius: none;
        background-color: #667079;
        margin: 0;
        height: 679.5px;
        border-radius:  0;
        
     }
     .butons-for-all{
        /* background-color: blue; */
        height: 85%;
        color: tomato;

     }
     .top-screen{
        /* background-color: transparent; */
        width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    font-size: 2rem;
    text-align: right;
    border-radius: 0;
    padding-top: 10px;
     }
}